<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="p-4 flex gap-2 items-center  bg-black text-white">
        
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/resources">resources</a>
            <a href="/contact">contact</a>
            <a href="/blog">Blog</a>
            <!-- <a href="/viewblog">viewblog</a> -->
           
    
    </nav>
    <div class="card">
        <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">
            Some quick example text to build on the card title
            and make up the bulk of the card's content.
          </p>
          <a href="/viewblog" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
   
    </body>
    </html>