<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="p-4 flex gap-2 items-center  bg-black text-white justify-end">
        
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/resources">resources</a>
            <a href="/contact">contact</a>
            <a href="/blog">Blog</a>
           
    
    </nav>
    <p>This is a contact page</p>
    </body>
    </html>